$family-sans-serif: "Inter", sans-serif;

// Set your brand colors
$green: #88b32d;
$blue: #0b7a84;
$red: #d15b40;
$pink: #d2aac3;
$yellow: #fcd25c;
$beige-lighter: #f4f4f4;

$primary: $blue;
$info: $blue;

$link: $blue;
$input-border-color: $primary;
$table-cell-heading-color: $primary;
